@tailwind base;
@tailwind components;
@tailwind utilities;


.hero h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
.hero p {
  font-size: 1rem;
  text-align: center;
}

